{
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
   },
  "env": {
    "jest": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true}]
  }
}
